<!DOCTYPE html>
<html lang="en">
{{ template "head" . }}

<body>
    {{ template "header" . }}
    <div id="lobby" class="container ">
        <div class="row">
            <div class="col-md-6 mt-1 p-1">
                <div class="card shadow-sm">
                    <h3 class="card-header">ルーム一覧</h3>
                    <div class="card-body">
                        <p class="card-text">好きな部屋を選んで入ってください</p>
                        <div class="row">
                            {{ template "room-card" 1}}
                            {{ template "room-card" 2}}
                            {{ template "room-card" 3}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-1 p-1">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h3 class="mb-0">説明</h3>
                        <p>
                        <ul>
                            <li>既存のルームに参加可能</li>
                            <li>どちらかの接続が切れた場合はリセット</li>
                            <li>iphone,Macでの動作確認済み</li>
                            <li>firefox88.0での動作確認済み</li>
                        </ul>
                        <h4>ルール</h4>
                        <ul>
                            <li>ルームホストが先攻</li>
                            <li>同じ形（×か〇）もしくは色（ピンクかグリーン）のピースを5つ直線状に並べた方が勝者</li>
                        </ul>
                        <h4>更新</h4>
                        <ul>
                            <li>2022/09/04: 試用版作成開始</li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>