{{ define "user-card" }}
<div class="row g-3 pb-3 align-items-center">
    <div class="col-auto">
        <label for="inputUserName" class="col-form-label">ユーザ名</label>
    </div>
    <div class="col-auto">
        <input type="text" id="inputUserName" class="form-control">
    </div>
</div>
{{ end }}